<h2>Show chunk</h2>

<ul>

  <li>
    <strong>Address:<strong>
    <%= @chunk.address %>
  </li>

</ul>

<%= link "Edit", to: chunk_path(@conn, :edit, @chunk) %>
<%= link "Back", to: chunk_path(@conn, :index) %>
